[SddmGreeterTheme]
Name=Zenix
Description=Sonoma-flavoured greeter matching hyprlock
Author=zenix
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=zenix
Theme-API=2.0
QtVersion=6
